@page
@model Dissertation.Pages.Auth.Access_DeniedModel
@{
}

<h1>Access Denied</h1>

<p>You do not have access to this page.</p>

<p>Please speak to Code Club's PR Manager if you think this is an error.</p>