@page
@model Dissertation.Pages.Volunteers.IndexModel
@{
}
<h1>Volunteer Hub</h1>

<div class="tiles d-flex flex-grow-1 row w-100">
    <div class="col-12 col-sm-6 col-md-4">
        <a class="tile d-flex align-items-center text-center" href="https://codeclubassets.azurewebsites.net/Auth/MicrosoftLogin"><p class="w-100">Assets</p></a>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <a class="tile d-flex align-items-center text-center" href="https://codeclubsignin.azurewebsites.net"><p class="w-100">Sign-in System</p></a>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <a class="tile d-flex align-items-center text-center" href="https://codeclubiom.sharepoint.com/sites/CodeClubVolunteers"><p class="w-100">SharePoint</p></a>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <a class="tile d-flex align-items-center text-center" asp-page="/Index"><p class="w-100"></p></a>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <a class="tile d-flex align-items-center text-center" asp-page="/Index"><p class="w-100"></p></a>
    </div>
    <div class="col-12 col-sm-6 col-md-4">
        <a class="tile d-flex align-items-center text-center" asp-page="/Index"><p class="w-100"></p></a>
    </div>
</div>