@page
@model Dissertation.Pages.About.Golden_RulesModel
@{
    ViewData["Title"] = "Golden Rules";
}
<h1>Code Club's Golden Rules</h1>

<div class="tiles d-flex flex-grow-1 row w-100">
    <div class="col-12 col-md-6 col-lg-4">
        <div class="tile d-flex align-items-center text-center">
            <p class="w-100">
                Strive to learn something new at each session
            </p>
         </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="tile d-flex align-items-center text-center">
            <p class="w-100">
                Be prepared to share what you know with someone else
            </p>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <div class="tile d-flex align-items-center text-center">
            <p class="w-100">
                If you don’t know how to do something… just ask!
            </p>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-6">
        <div class="tile d-flex align-items-center text-center">
            <p class="w-100">
                Treat each other and other’s property respectfully
            </p>
        </div>
    </div>
    <div class="col-12 col-md-12 col-lg-6">
        <div class="tile d-flex align-items-center text-center">
            <p class="w-100">
                Don’t use equipment for anything inappropriate, dangerous or stupid
            </p>
        </div>
    </div>
</div>