@page
@model Dissertation.Pages.News.Manage.Tags.CreateModel

@{
    ViewData["Title"] = "Create News Tag";
}

<h1>Create Tag</h1>
<hr />

<form method="post">
    <dl class="row">
        <dt class="col-sm-2">
            <label asp-for="ArticleTag.Tag" class="control-label"></label>
        </dt>
        <dd class="col-sm-10">
            <input asp-for="ArticleTag.Tag" class="form-control" />
            <span asp-validation-for="ArticleTag.Tag" class="text-danger"></span>
        </dd>
        <dt class="col-sm-2">
            <label asp-for="ArticleTag.NavDisplay" class="control-label">Display on Navigation bar?</label>
        </dt>
        <dd class="col-sm-10">
            <input type="hidden" asp-for="ArticleTag.NavDisplay" value="@true" />
            <input type="checkbox" asp-for="NavDisplay" />
            <span asp-validation-for="ArticleTag.NavDisplay" class="text-danger"></span>
        </dd>
        <dt class="col-sm-2"></dt>
        <dd class="col-sm-10">
            <input type="submit" value="Create" class="btn btn-primary" />
            <a asp-page="Index" class="btn btn-danger">Back to List</a>
        </dd>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </dl>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
