@page
@model Dissertation.Pages.Information.IndexModel
@{
}
<h1>Information Hub</h1>

<div class="tiles d-flex flex-grow-1 row w-100">
    <div class="col-12 col-md-6 col-lg-4">
        <a class="tile d-flex align-items-center text-center" asp-page="./Learn"><p class="w-100">Learn to Code</p></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a class="tile d-flex align-items-center text-center" asp-page="./Membership"><p class="w-100">Membership</p></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a class="tile d-flex align-items-center text-center" asp-page="./FAQs/Index"><p class="w-100">Frequently Asked Questions</p></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a class="tile d-flex align-items-center text-center" asp-page="./Volunteering"><p class="w-100">Volunteering</p></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a class="tile d-flex align-items-center text-center" asp-page="./Sponsors/Index"><p class="w-100">Sponsors</p></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a class="tile d-flex align-items-center text-center" asp-page="/About/Index"><p class="w-100">About Code Club</p></a>
    </div>
</div>