@page
@model Dissertation.Pages.Information.VolunteeringModel
@{
    ViewData["Title"] = "Volunteering";
    Layout = "_LayoutImageLeft";
}
<h1>Volunteering at Code Club</h1>
<p>Code Club is fully managed, operated and hosted by volunteers. We're always looking for people who can teach classes, give sessions on particular subjects or people just want to donate their time.</p>
<h2>Why Volunteer?</h2>
<p>There are countless benefits to volunteering. It has been reported that volunteering can improve the life satisfaction of volunteers, and may improve their health. Volunteers are also able to gain many soft skills, such as teamwork, resilience, problem-solving, and communication.</p>
<h2>What can I do?</h2>
<p>No two sessions at Code Club look the same - here are some example volunteer tasks</p>
<ul>
    <li>Supporting students with independent learning,</li>
    <li>Tutoring a class on a specific topic or programming language (e.g. Python),</li>
    <li>Helping to set-up before and take-down after Code Club sessions (great for non-technical parents that want to get involved!)</li>
    <li>Managing the flow of kids & parents arriving at the front door.</li>
</ul>
<h2>How do I get Involved?</h2>
<p>You are more than welcome to pop in to any of our Code Club sessions and get stuck in, however we prefer if you can let us know in advance at <a href="mailto:hello@codeclub.im">hello@codeclub.im</a> so we can ensure someone will be available to show you around.</p>
<p><i>Please note that all volunteers are subject to an Enhanced DBS check.</i></p>
    @section image{
        src="/img/Carousel/img-2.jpg" alt="Code Club CyberCenturion teams and volunteers"
    }