html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-logo{
    width:10vw;
}

.login-email {
    border-right: 1px solid black;
}

.login-email, .login-msft{
    text-align:center;
}

@media screen and (max-width: 768px) {
    .login-email {
        border-bottom:1px solid black;
        border-right:none;
    }
}

.social-logo{
    height:2.5rem;
}

.social-logo:hover{
    filter:invert(1);
}

@media screen and (max-width: 992px) {

    .bottom-nav .nav-link {
        margin: 5px 0 5px 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .bottom-nav .social-link {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .offcanvas .bottom-text {
        text-align: center;
        padding-bottom: 5px;
        text-wrap: wrap;
        overflow-wrap: break-word;
    }
}

.footer-link {
    display: block;
    background-color: #8cae44;
    border-radius: 10px;
    margin: 5px;
    line-height: 40px;
    color: white !important;
    text-decoration: none;
    font-weight: bold;
}

    .footer-link:hover {
        background-color: #658332;
    }

.footer-text{
    text-wrap:wrap;
    line-height:20px;
}

.footer-logo {
    width: 100%;
    max-width:12rem;
    max-height:3.1rem;
}