@import url('site.css');
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    justify-content:center;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.nav-logo{
    width:10vw;
}

.login-email {
    border-right: 1px solid black;
}

.login-email, .login-msft{
    text-align:center;
}

@media screen and (max-width: 767px) {
    .login-email {
        border-bottom:1px solid black;
        border-right:none;
    }
}

.social-logo{
    height:2.5rem;
}

.social-logo:hover{
    filter:brightness(0);
}

@media screen and (max-width: 991px) {

    .bottom-nav .nav-link {
        margin: 5px 0 5px 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .bottom-nav .social-link {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .offcanvas .bottom-text {
        text-align: center;
        padding-bottom: 5px;
        text-wrap: wrap;
        overflow-wrap: break-word;
    }
}

.footer-link, .tile {
    display: block;
    background-color: var(--primary);
    border-radius: 10px;
    margin: 5px;
    line-height: 40px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

a > .footer-link, .tile a{
    color:white;
}

.footer-link:hover, .tile:hover {
    background-color: var(--primary-dark);
}
footer a:hover, .tile:hover a, .tile a:hover {
    color:white;
}

.footer-link:active{
    background-color:white;
    color:var(--primary);
    border: solid 1px var(--primary);
}

.footer-link:active a{
    color: var(--primary);
}

.footer-text {
    word-break:keep-all;
    white-space: normal;
    line-height: 20px;
}

.footer-logo {
    width: 100%;
    max-width:12rem;
    max-height:3.1rem;
}

main{
    display:flex;
    flex-direction:column;
    flex-grow:1;
}

.tile{
    height:95%;
}

.tile p{
    margin:10px;
}

.tiles :nth-child(2n) a {
    background-color: var(--secondary);
}
    .tiles :nth-child(2n) a:hover {
        background-color: var(--secondary-dark);
    }


@media screen and (max-width: 767px) {
    .tiles :nth-child(2n) a {
            background-color: var(--primary);
        }
            .tiles :nth-child(2n) a:hover {
                background-color: var(--primary-dark);
            }
        .tile {
            height: 15vh;
        }
        .tiles :nth-child(4n-2) a, .tiles :nth-child(4n-1) a {
            background-color: var(--secondary);
        }
            .tiles :nth-child(4n-2) a:hover, .tiles :nth-child(4n-1) a:hover {
                background-color: var(--secondary-dark);
            }
}
@media screen and (max-width: 575px) {
    .tile {
        display: inherit;
        height: 6vh;
    }
    .tiles /*:nth-child(4n-2) a, .tiles :nth-child(4n-1)*/ a {
        background-color: var(--primary);
    }

        .tiles /*:nth-child(4n-2) a:hover, .tiles :nth-child(4n-1)*/ a:hover {
            background-color: var(--primary-dark);
        }
    .tiles :nth-child(2n) a {
        background-color: var(--secondary);
    }
        .tiles :nth-child(2n) a:hover {
            background-color: var(--secondary-dark);
        }
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    filter: brightness(0) invert(1);
}

.accordion-item {
    border-color: var(--primary);
}

.accordion-button:not(.collapsed) {
    background-color: var(--primary);
    color: white;
}

.faq-row :nth-child(2n) .accordion-item {
    border-color: var(--secondary);
}

.faq-row :nth-child(2n) .accordion-button:not(.collapsed) {
    background-color: var(--secondary);
    color: white;
}


@media screen and (max-width: 767px) {
    .faq-row :nth-child(2n) .accordion-item {
        border-color: var(--primary);
    }
    .faq-row :nth-child(2n) .accordion-button:not(.collapsed) {
        background-color: var(--primary);
    }

    .faq-row :nth-child(4n-2) .accordion-item, .faq-row :nth-child(4n-1) .accordion-item {
        border-color: var(--secondary);
    }

    .faq-row :nth-child(4n-2) .accordion-button:not(.collapsed), .faq-row :nth-child(4n-1) .accordion-button:not(.collapsed) {
        background-color: var(--secondary);
    }
}

@media screen and (max-width: 575px) {
    .faq-row .col .accordion /*:nth-child(4n-2) .accordion-item, .faq-row :nth-child(4n-1)*/ .accordion-item {
        border-color: var(--primary);
    }
    .faq-row .col .accordion /*:nth-child(4n-2) .accordion-button:not(.collapsed), .faq-row :nth-child(4n-1)*/ .accordion-button:not(.collapsed) {
        background-color: var(--primary);
    }

    .faq-row :nth-child(2n) .accordion .accordion-item {
        border-color: var(--secondary);
    }
    .faq-row :nth-child(2n) .accordion .accordion-button:not(.collapsed) {
        background-color: var(--secondary);
    }
}

.btn{
    background-color:var(--primary);
    border:none;
    color: white;
}

.btn:hover, .btn:focus{
    background-color:var(--primary-dark);
    color:white;
}

.btn:focus{
    outline-color:var(--primary);
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus{
    box-shadow:none;
}

    :root {
        --primary: #8cae44;
        --primary-dark: #658332;
        --secondary: #fa981c;
        --secondary-dark: #db7733;
    }

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--primary);
}