html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:stretch;
    justify-content:center;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.nav-logo{
    width:10vw;
}

.login-email {
    border-right: 1px solid black;
}

.login-email, .login-msft{
    text-align:center;
}

@media screen and (max-width: 768px) {
    .login-email {
        border-bottom:1px solid black;
        border-right:none;
    }
}

.social-logo{
    height:2.5rem;
}

.social-logo:hover{
    filter:brightness(0);
}

@media screen and (max-width: 992px) {

    .bottom-nav .nav-link {
        margin: 5px 0 5px 0;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .bottom-nav .social-link {
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .offcanvas .bottom-text {
        text-align: center;
        padding-bottom: 5px;
        text-wrap: wrap;
        overflow-wrap: break-word;
    }
}

.footer-link, .tile {
    display: block;
    background-color: #8cae44;
    border-radius: 10px;
    margin: 5px;
    line-height: 40px;
    color: white !important;
    text-decoration: none;
    font-weight: bold;
}

    .footer-link:hover, .tile:hover {
        background-color: #658332;
    }

.footer-text{
    text-wrap:wrap;
    line-height:20px;
}

.footer-logo {
    width: 100%;
    max-width:12rem;
    max-height:3.1rem;
}

main{
    display:flex;
    flex-direction:column;
    flex-grow:1;
}

.tile{
    height:95%;
}

.tile p{
    margin:10px;
}

.tiles :nth-child(2n) a {
    background-color: #fa981c;
}
    .tiles :nth-child(2n) a:hover {
        background-color: #db7733;
    }


@media screen and (max-width: 768px) {
    .tiles :nth-child(2n) a {
            background-color: #8cae44;
        }
            .tiles :nth-child(2n) a:hover {
                background-color: #658332;
            }
        .tile {
            height: 15vh;
        }
        .tiles :nth-child(4n-2) a, .tiles :nth-child(4n-1) a {
            background-color: #fa981c;
        }
            .tiles :nth-child(4n-2) a:hover, .tiles :nth-child(4n-1) a:hover {
                background-color: #db7733;
            }
}
@media screen and (max-width: 576px) {
    .tile {
        display: inherit;
        height: 6vh;
    }
    .tiles :nth-child(4n-2) a, .tiles :nth-child(4n-1) a {
        background-color: #8cae44;
    }

        .tiles :nth-child(4n-2) a:hover, .tiles :nth-child(4n-1) a:hover {
            background-color: #658332;
        }
    .tiles :nth-child(2n) a {
        background-color: #fa981c;
    }
        .tiles :nth-child(2n) a:hover {
            background-color: #db7733;
        }
}