@page
@model Dissertation.Pages.About.Team.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Our Team</h1>
<div class="row">
    @foreach (var item in Model.Volunteer)
    {
        var img = item.ImgUrl != null && item.ImgUrl != "" ? item.ImgUrl : "/img/team-member.png";
        <div class="col col-12 col-sm-6 col-md-4 col-lg-3 team-wrapper">
            <div class="m-3 team-box text-center">
                <img src="@img" alt="@item.Name Headshot" class="team-img rounded mx-auto d-block mw-100" onerror="if (this.src != '/img/team-member.png') this.src = '/img/team-member.png';" />
                <p class="mb-0"><b>@item.Name</b></p><p class="mb-0">@item.Title</p>
            </div>
        </div>
    }
</div>

