@page
@model Dissertation.Pages.Information.Sponsors.Manage.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sponsor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="All" class="text-danger"></div>
            <input type="hidden" asp-for="Sponsor.Id" />
            <div class="form-group">
                <label asp-for="Sponsor.Name" class="control-label"></label>
                <input asp-for="Sponsor.Name" class="form-control" />
                <span asp-validation-for="Sponsor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Image</label>
                <img class="sponsor-image" src="@($" https://dissertationad.blob.core.windows.net/sponsor-images/{Model.Sponsor.Id}.png")" alt="@Model.Sponsor.Name" />
                <input type="file" id="file1" name="file1" multiple="multiple" class="form-control" />
                <span asp-validation-for="Sponsor.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sponsor.Information" class="control-label"></label>
                <input asp-for="Sponsor.Information" class="form-control" />
                <span asp-validation-for="Sponsor.Information" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
