<footer class="border-top footer text-muted">
    <div class="container">
        <div class="row">
            <div class="col-2 d-sm-none"></div>
            <div class="col-8 col-sm-12">
                <div class="row text-center">
                    <div class="col-12 col-md-4">
                        <a class="footer-img" asp-area="" asp-page="/Index"><img src="~/img/codeclublogo.png" alt="Code Club Logo" class="footer-logo" /></a>
                        <p class="footer-text">Code Club is a charity registered in the Isle of Man (number 1322). Our aim is to increase digital literacy and empower people to use the technology that surrounds us.</p>
                    </div>
                    <div class="col-12 col-md-8">
                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <a class="footer-link" asp-page="/Information/Index">Information</a>
                            </div>
                            <div class="col-12 col-sm-6">
                                <a class="footer-link" href="/News/all">News</a>
                            </div>
                            <div class="col-12 col-sm-6">
                                <a class="footer-link" asp-page="/About/Index">About Code Club</a>
                            </div>
                            <div class="col-12 col-sm-6">
                                <a class="footer-link" asp-page="/Information/Membership">Membership</a>
                            </div>
                            <div class="col-12 col-sm-6">
                                <a class="footer-link" asp-page="/Policies/Index">Policies</a>
                            </div>
                            <div class="col-12 col-sm-6">
                                <a class="footer-link" asp-page="/About/Contact">Contact</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-2 d-sm-none"></div>
        </div>
    </div>
</footer>