<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] | Code Club</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Dissertation.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-toggleable-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container fluid">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/img/codeclublogo.png" alt="Code Club Logo" class="nav-logo"/></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="navbar-toggler-icon"></span></button>
                <div class="offcanvas offcanvas-end d-sm-inline-flex justify-content-between" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="~/img/codeclublogo.png" alt="Code Club Logo" class="nav-logo" /></h5>
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body d-flex flex-column flex-lg-row">
                        <ul class="navbar-nav flex-lg-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    About
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-page="/About/About">About Us</a></li>
                                    <li><a class="dropdown-item" asp-page="/About/Team/Index">Our Team</a></li>
                                    <li><a class="dropdown-item" asp-page="/About/Rules">Golden Rules</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-page="/About/Contact">Contact Us</a>
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    News
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-page="/News/Index">All</a></li>
                                    @using Dissertation.Data;
                                    @inject DissertationContext _context;
                                    @{
                                        var tags = _context.ArticleTags.Where(t => t.NavDisplay ?? false).ToList();
                                        foreach(var tag in tags)
                                        {
                                            <li><a class="dropdown-item" asp-page="/News/Index" asp-route-filter="@tag.Id">@tag.Tag</a></li>
                                        }
                                    }
                                </ul>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Information
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a class="dropdown-item" asp-page="/Information/Learn">Learn to Code</a></li>
                                    <li><a class="dropdown-item" asp-page="/Information/Membership">Membership</a></li>
                                    <li><a class="dropdown-item" asp-page="/Information/FAQs/Index">Frequently Asked Questions</a></li>
                                    <li><hr class="dropdown-divider"></li>
                                    <li><a class="dropdown-item" asp-page="/Information/Volunteering">Volunteering</a>
                                    <li><a class="dropdown-item" asp-page="/Information/Sponsors/Index">Sponsors</a>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Privacy">Privacy</a>
                            </li>
                        </ul>
                        <hr class="d-lg-none"/>
                        <ul class="navbar-nav flex-grow-1 justify-content-start justify-content-lg-end">
                            @using Microsoft.AspNetCore.Identity;
                            @using Dissertation.Data;
                            @inject SignInManager<SiteUser> SignInManager;
                            @inject UserManager<SiteUser> UserManager;
                            @inject DissertationContext _context;
                            @if (SignInManager.IsSignedIn(User))
                            {
                                var u = await UserManager.GetUserAsync(User) ?? new SiteUser { Email = "" };
                                var email = await UserManager.GetEmailAsync(u);
                                Dissertation.Models.Volunteer? user = null;
                                if(email != null) user = _context.Volunteer.FirstOrDefault(v => v.Email == email);
                                var text = email ?? "";
                                if (user != null) text = user.Name;

                                    
                                <li class="nav-item dropdown">
                                    <a class="nav-link text-dark dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        @text
                                    </a>
                                    <ul class="dropdown-menu">
                                        @if (await UserManager.IsInRoleAsync(u, "Admin"))
                                        {
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-page="/Members/Index">Member Hub</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-page="/Volunteers/Index">Volunteer Hub</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-page="/Admin/Index">Admin Hub</a>
                                            </li>
                                        }
                                        else if(await UserManager.IsInRoleAsync(u, "Volunteer"))
                                        {
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-page="/Members/Index">Member Hub</a>
                                            </li>
                                            <li>
                                                <a class="dropdown-item" asp-area="" asp-page="/Volunteers/Index">Volunteer Hub</a>
                                            </li>
                                        }
                                        <li><hr class="dropdown-divider"></li>
                                        <li><a class="dropdown-item" asp-page="/Auth/Logout">Logout</a>
                                    </ul>
                                </li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-page="/Auth/Login">Login</a>
                                </li>
                            }
                           
                        </ul>
                        <ul class="navbar-nav justify-content-end justify-content-lg-end flex-grow-1 bottom-nav">
                            <li class="nav-item bottom-text">
                                <a class="social-link text-dark" href="https://instagram.com/iomcodeclub"><img src="~/img/instagram-logo-green.png" alt="instagram logo" class="social-logo" /></a>
                                <a class="social-link text-dark" href="https://www.facebook.com/IOMCodeClub/"><img src="~/img/facebook-logo-green.png" alt="facebook logo" class="social-logo" /></a>
                                <a class="social-link text-dark" href="https://im.linkedin.com/company/iom-code-club"><img src="~/img/linkedin-logo-green.png" alt="linkedin logo" class="social-logo" /></a>
                                <p class="bottom-text d-lg-none">Code Club is charity registered on the Isle of Man - number 1322</p>
                            </li>
                        </ul>
                    </div>
                 </div>

            </div>
        </nav>
        <nav class="justify-content-end flex-grow-1">
            
        </nav>
    </header>
    <div class="container d-flex flex-grow-1">
        <main role="main" class="pb-3 d-flex flex-grow-1">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="row">
                <div class="col-2 d-sm-none"></div>
                <div class="col-8 col-sm-12">
                    <div class="row text-center">
                        <div class="col-12 col-md-4">
                            <a class="footer-img" asp-area="" asp-page="/Index"><img src="~/img/codeclublogo.png" alt="Code Club Logo" class="footer-logo" /></a>
                            <p class="footer-text">Code Club is a charity registered in the Isle of Man (number 1322). Our aim is to increase digital literacy and empower people to use the technology that surrounds us.</p>
                        </div>
                        <div class="col-12 col-md-8">
                            <div class="row">
                                <div class="col-12 col-sm-6">
                                    <a class="footer-link" asp-page="/Information/Index">Information</a>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <a class="footer-link" asp-page="/News/Index">News</a>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <a class="footer-link" asp-page="/About/Index">About Code Club</a>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <a class="footer-link" asp-page="/Membership">Membership</a>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <a class="footer-link" asp-page="/Policies">Policies</a>
                                </div>
                                <div class="col-12 col-sm-6">
                                    <a class="footer-link" asp-page="/About/Contact">Contact</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2 d-sm-none"></div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="module" src="https://md-block.verou.me/md-block.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>