@page
@model Dissertation.Pages.Admin.IndexModel
@{
    ViewData["Title"] = "Admin Hub";
}
<h1>Admin Hub</h1>

<div class="tiles d-flex flex-grow-1 row w-100">
    <div class="col-12 col-md-6 col-lg-4">
        <a class="tile d-flex align-items-center text-center" asp-page="/News/Manage/Index"><p class="w-100">Manage News Posts</p></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a class="tile d-flex align-items-center text-center" asp-page="/About/Team/Manage/Index"><p class="w-100">Manage Volunteers</p></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a class="tile d-flex align-items-center text-center" asp-page="/Information/FAQs/Manage/Index"><p class="w-100">Manage FAQs</p></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a class="tile d-flex align-items-center text-center" asp-page="/Information/Sponsors/Manage/Index"><p class="w-100">Manage Sponsors</p></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a class="tile d-flex align-items-center text-center" href="#"><p class="w-100"></p></a>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <a class="tile d-flex align-items-center text-center" asp-page="/Index"><p class="w-100"></p></a>
    </div>
</div>